@font-face
{
    font-family:'MuseoSlab-500';
    src:url(/fonts/MuseoSlab/Museo-Slab-500.eot)
}

@font-face
{
    font-family:'MuseoSlab-500';
    src:url(/fonts/MuseoSlab/Museo-Slab-500.woff) format("woff"),url(/fonts/MuseoSlab/Museo-Slab-500.svg#MuseoSlab-500) format("svg")
}

body
{
    margin-top:50px;
    background-color:#191919;
    color:#ccc;
    text-align: center;
    line-height: 2em;
    background-image: url(/img/bgsp-crissXcross.png);
    background-repeat: repeat;
}

h1,h2,h3
{
    font-weight:400;
    color:rgba(254, 214, 49, 0.8);
}

hr
{
    background-color:#efac68
}

a,
a:link,
a:visited,
a:active,
a:focus
{
    color:rgba(254, 214, 49, 0.8);
    text-decoration: none
}

a:focus,
a:hover
{
    color:rgba(254, 214, 49, 1.0);
    text-decoration: underline
}


a#logo
{
    display:inline-block
}

a#logo .logo-color
{
    transition:all .5s ease
}

a#logo:hover .logo-color
{
    text-decoration:underline;
    fill:#fff
}

a#logo:active .logo-color,a#logo:focus .logo-color
{
    text-decoration:underline;
    fill:rgba(255,255,255,.5)
}

section.main
{
    padding-top:50px;
    padding-bottom:50px
}

footer#footer
{
    padding-bottom:100px
}

footer#footer nav a
{
    text-transform:uppercase
}

footer#footer nav a.active
{
    text-decoration:underline
}
